
<div class="show-section">
  <div class = "row">
    <div class= "col-md-2 col-md-offset-10">
	    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-xs btn-warning" %>
      <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete the article?"}, class: "btn btn-xs btn-danger" %>
    </div>
    <div class="text-center">
    <h1 style="font-family: sans-serif; font-size:36px; margin:20px; margin-bottom:10px;">
      <%= @article.title %>
    </h1>
    <p>
      CREATED BY <%= link_to @article.user.forename, ulist_path(id: @article.user.id), class: "name-user" %>
    </p>
  </div>
    <div class= "col-md-8 col-md-offset-2">
      <% signer = Aws::S3::Presigner.new %>
      <% image_url = signer.presigned_url(:get_object, bucket: "smidblog-images", key: @article.image) %>
      <%= image_tag image_url, style:"width:100%;" %>
    </div>
  </div>
  <p style ="font-family:sans-serif; font-size:14px; color:#333333; white-space: pre-line;">
    <%= @article.content %>
  </p>
  <p style ="font-family:sans-serif; font-size:14px; color:#333333; ">
    <small>
			Created: <%= @article.created_at.strftime("%-d %b %Y, %H:%M") %> | Last updated: <%= @article.updated_at.strftime("%-d %b %Y, %H:%M") %>
		</small>
  </p>         
</div>

