
<div class="show-section">
  <div class = "row">
<div class= "col-md-2 col-md-offset-10">
	<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-xs btn-warning" %>
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete the article?"}, class: "btn btn-xs btn-danger" %>
</div>

    <div class= "col-md-8 col-md-offset-2">
      <%= image_tag @article.image, style:"width:100%;" %>
    </div>
  </div>
  <div class="text-center">
    <h1 style="font-family: sans-serif; font-size:36px; margin:20px; margin-bottom:10px;">
      <%= @article.title %>
    </h1>
    <p style="font-size: 15px; font-family: sans-serif; ">
      CREATED BY: <%= link_to @article.user.forename, list_path(id: @article.user.id) %>
    </p>
  </div>
  <p style ="font-family:sans-serif; font-size:14px; color:#333333; ">
    <%= @article.content %>
  </p>
  <p style ="font-family:sans-serif; font-size:14px; color:#333333; ">
    <small>
			Created: <%= @article.created_at.strftime("%-d %b %Y, %H:%M") %> | Last updated: <%= @article.updated_at.strftime("%-d %b %Y, %H:%M") %>
		</small>
  </p>         
</div>






