<nav class="navbar navbar-default hidden-xs hidden-sm">
	<div class="container-fluid">
    <div class="nav navbar-nav navbar-left">
			<ul class="nav navbar-nav">
				<li>
					<%=link_to root_path, style: 'padding:0px;' do  %>
            <%= image_tag 'logo.jpg', style: 'width:212px; height:50px; margin: 10px;'%>
          <%end%>
        </li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <%= link_to 'Home', articles_path, style: "margin-top:20px", class: "collapsed btn btn-small btn-primary pull-right" %>
    <% else %>
      <%if params[:action] != 'home'%>
        <%= link_to 'Home', root_path, style: "margin-top:20px; margin-right:10px;", class: "collapsed btn btn-small btn-primary pull-right" %>
      <%end%>
    <% end %>
  </div>
</nav>
<div class="row visible-xs visible-sm text-center" style="background-color:#fff;">
  <%=link_to root_path do %>
    <%= image_tag 'logo.jpg', style: 'width:212px; height:50px; margin: 10px;'%>
  <%end%>
</div>
